.container {
    padding: 0px;
    color: rgb(161, 83, 172);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-header {
    font-size: 60px;
    color: rgb(161, 83, 172);
    font-family: Wave-Regular;
}

.container-content {
    border: 2px solid rgb(76, 89, 145);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    width: 50%;
    max-height: 620px;
}

.container-content-mainInfo {
    display: flex;
    width: 100%;
}

.container-content-additionalInfo {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container-content-additionalInfo-header {
    color: white;
    font-weight: 500;
    margin-top: 20px;
    font-size: 40px;
}

.container-content-additionalInfo-info {
    color: rgb(218, 214, 214);
    font-size: 30px;
    margin-left: 80px;
    margin-top: 5px;
}

.container-content-mainInfo-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 60px;
    margin-top: 10px;
    color: white;
}

.container-content-mainInfo-text-login {
    font-size: 50px;
    text-decoration: none;
    color: rgb(161, 83, 172);
}

.container-content-mainInfo-text-login:hover {
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.container-content-mainInfo-text-name {
    font-size: 30px;
    color:rgb(131, 125, 125);
}

.container-content-mainInfo-avatar {
    margin: 10px;
    width: 40%;
    max-width: 300px;
    min-width: 150px;
    height: 40%;
    border-radius: 50%;
}

.loadingGif {
    width: 100px;
    height: 100px;
    margin-top: 150px;
}

@media screen and (max-width: 1000px) {
    .container-content {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .container-content {
        width: 80%;
    }

    .container-content-mainInfo-text {
        margin-left: 40px;
    }
    
    .container-content-mainInfo-text-login {
        font-size: 40px;
    }
    
    .container-content-mainInfo-text-login:hover {
        font-size: 40px;
        text-decoration: none;
        color: white;
    }
    
    .container-content-mainInfo-text-name {
        font-size: 20px;
        color:rgb(131, 125, 125);
    }

    .container-content-additionalInfo-header {
        color: white;
        font-weight: 500;
        margin-top: 20px;
        font-size: 30px;
    }
    
    .container-content-additionalInfo-info {
        color: rgb(218, 214, 214);
        font-size: 20px;
        margin-left: 80px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 600px) {
    .container-content-mainInfo-avatar {
        min-width: 100px;
    }

    .container-content {
        width: 90%;
    }
}